/* ---------------------------------------------------------
   HTML
  ---------------------------------------------------------*/
html {
  margin: 0;
  width: 100%;
  height: 100vh;
  background: linear-gradient(
    45deg,
    #23bac385,
    #e73c7ea8,
    #23a6d596,
    #23d5aba3
  );
  background-size: 400% 400%;
}

body {
  font-family: "IBM Plex Serif", serif;
  background-image: url("../images/bg-tile.svg");
  background-repeat: repeat;
  background-attachment: fixed;
  color: #232255;
}
/* Default link styling */
a:link {
  color: #105b66;
  text-decoration: none;
}

a:visited {
  color: #105b66;
  text-decoration: none;
}


/* ---------------------------------------------------------
       Author's styles
  ---------------------------------------------------------*/

.shadow {
  -webkit-box-shadow: 6px 6px 11px -5px rgba(61, 219, 187, 0.41);
  -moz-box-shadow: 6px 6px 11px -5px rgba(61, 219, 187, 0.41);
  box-shadow: 6px 7px 11px -5px rgba(0, 140, 112, 0.41);
}

main {
  margin: 0 1em;
}

header img {
  height: 12em;
  border: 3px solid #a3b0d1;
  border-radius: 50%;
  transform: rotate(-5deg);
}

h1 {
  color: #fff;
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 400% 400%;
  display: inline-block;
  vertical-align: top;
  font-size: 2.5em;
  text-shadow: 4px 2px #3a3abd;
  transform: rotate(-5deg);
  padding: 0.3em 0.2em;
}

.head {
  margin-bottom: 2em;
}

.head p{
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 400% 400%;
  font-size: 1.4em;
  color: rgba(236, 235, 255);
  padding: 1em;
  margin: 0
}

.nav {
  background: none;
  width: 100%;
  font-size: 1.7em;
  display: flex;
  justify-content: space-around;
}

.nav-item {
 background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 400% 200%;

  padding: .5em;
}

.nav-item a {
color: white;
}


section {
  margin: 0;
}

article {
  padding: 1em;
  background-color: rgba(236, 235, 255);
}

article h2 {
  width: 45%;
  margin: 5px 0 20px;
}

.skill {
  display: grid;
  grid-column-gap: 20px;
  grid-template-columns: auto auto;
}

.skill .item {
  background-color: rgba(236, 235, 255);
  border: 1px solid #a6afd1;
  padding: 10px;
}

.resume {
  background-color: rgba(236, 235, 255);
  border: 1px solid #a6afd1;
  padding: 50px;
}

.project {
  display: grid;
  grid-column-gap: 20px;
  grid-template-columns: 1fr 1fr 1fr;
}
.project .item {
  background-color: rgba(236, 235, 255);
  border: 1px solid #a6afd1;
  padding: 0 15px 15px;
}

.tags ul {
  padding: 0;
  margin: 1em 0 0;
}

.tags li {
  color: white;
  padding: 8px;
  display: inline-block;
  margin: 5px 5px 5px 0;
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 400% 400%;
  border-radius: 2px;
}

.other {
  background-color: rgba(236, 235, 255);
  padding: 1em;

  border: 1px solid #a6afd1;
}

footer {
  background: linear-gradient(-0deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 400% 400%;
  margin: 3em 1em 0;
  padding: 1em;
  color: white;
  text-align: center;
}

footer ul {
  list-style: none;
  padding: 0 8em;
  margin: 0;
}

.menu {
  display: flex;
  justify-content: space-between;
  margin: 30px 0 35px;
}



/* ---------------------------------------------------------
     Print styles
     ---------------------------------------------------------*/
@media print {
  * {
    color: #000 !important;
    box-shadow: none !important;
    text-shadow: none !important;
    background: transparent !important;
  }
  html {
    background-color: #fff;
  }
  /* Hide navigation */
  .nav {
    display: none;
  }

  /* Show link destinations in brackets after the link text */
  a[href]:after {
    content: " (" attr(href) ") ";
  }
  a[href] {
    font-weight: bold;
    text-decoration: underline;
    color: #06c;
    border: none;
  }
  /* Don't show link destinations for JavaScript or internal links */
  a[href^="javascript:"]:after,
  a[href^="#"]:after {
    content: "";
  }

  /* Show abbr title value in brackets after the text */
  abbr[title]:after {
    content: " (" attr(title) ")";
  }

  figure {
    margin-bottom: 1em;
    overflow: hidden;
  }

  figure img {
    border: 1px solid #000;
  }
}

/* ---------------------------------------------------------
     Media Queries
     ---------------------------------------------------------*/

@media all and (min-width: 1500px) {
  .wrap {
    width: 50%;
    margin: 0 auto;
    padding: 10%;
  }
}

@media all and (max-width: 1499px) {
  .wrap {
    width: 55%;
    margin: 0 auto;
    padding: 10%;
  }
}

@media all and (max-width: 1199px) {
  .wrap {
    width: 75%;
    margin: 0 auto;
    padding: 9% 0;
  }
}

@media all and (max-width: 800px) {
  .wrap {
    width: 90%;
    margin: 0 auto;
    padding: 0 0 8%;
  }
}

@media all and (max-width: 430px) {
  .wrap {
    padding: 0;
    margin: 0 auto;
  }
  header img {
    float: left;
  }

  h1 {
    margin: 0 5%;
    font-size: 1.9em;
  }

  footer ul {
    padding: 0 1em;
  }
}

/*  WASUP  */
